<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= @title || 'SMARTMACHiNES' %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>

   <% if content_for?(:head) %>
    <%= yield(:head) %>
   <% end %>

  </head>

  <body id="pagetop" data-spy="scroll" data-target="#navbar" data-offset="50">
      <%= yield %>
  </body>
</html>
